.date-range-picker-config {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  line-height: 2.5
}

.date-range-picker-config .btn {
  padding: 5px 20px;
  margin-top: 15px;
}
