.resultsTable {
  border-radius: 25px !important;
}

.boxstation {
  background-color: #1C1C21;
  border: 0.5px solid #464D54;
  color: #fff
}

.temperature {
  background-color: #1C1C21;
  padding: 5px;
  margin: 10px 0 15px 0;
}

.table-dark {
  background-color: #1C1C21;
}

.box {
  padding: 5px;
  text-align: center
}

.box p {
  color: #fff
}

.box p span {
  color: #fff
}

.station-off {
  color: #ff4861;
  font-size: 8px;
  padding: 2px;
}

.station-on {
  color: #30D4A4;
  font-size: 8px;
  padding: 2px;
}

.box > span {
  color: #646777;
  font-weight: bold;
}

.theme-light .container__wrap {
  background-color: #464D54 !important
}

.table-shift-current {
  background-color: #2C3034 !important
}

.oee-main {
  background-color: #1C1C21;
  padding: 20px 0;
  min-height: 181px;
  margin-top: 5px;
}

.oee-box {
  width: 100%;
}

.oee-box .container .row {
  height: 100px;
}

.oee-box .container .row div {
  text-align: center;
  color: #fff;
}

.oee-box .container .row div i {
  color: #30D4A4;
}

// report page
.report .row h3 {
  color: #fff;
}

.report-main {
  background-color: #1C1C21;
  padding: 20px 0;
  min-height: 181px;
  margin-top: 5px;
  border-radius: 5px
}

.report-main div h4 {
  color: #fff;
  margin-bottom: 20px;
}

.report-item {
  min-height: 500px;
}

.loader {
  width: 100%;
  opacity: 0.1;
}

.clock {
  padding: 20px 15px
}

.topbar__filter-background-clock {
  background-color: #868D93;
}

#station1 .dygraph-axis-label-x {
  color: #868D93;
}

#station1 .dygraph-axis-label-y {
  color: #868D93;
}

#station1 .dygraph-legend {
  color: #868D93;
  padding-left: 500px;
}

#station2 .dygraph-axis-label-x {
  color: #868D93;
}

#station2 .dygraph-axis-label-y {
  color: #868D93;
}

#station2 .dygraph-legend {
  color: #868D93;
}

#station3 .dygraph-axis-label-x {
  color: #868D93;
}

#station3 .dygraph-axis-label-y {
  color: #868D93;
}

#station3 .dygraph-legend {
  color: #868D93;
}

#station4 .dygraph-axis-label-x {
  color: #868D93;
}

#station4 .dygraph-axis-label-y {
  color: #868D93;
}

#station4 .dygraph-legend {
  color: #868D93;
}

#station5 .dygraph-axis-label-x {
  color: #868D93;
}

#station5 .dygraph-axis-label-y {
  color: #868D93;
}

#station5 .dygraph-legend {
  color: #868D93;
}

#station6 .dygraph-axis-label-x {
  color: #868D93;
}

#station6 .dygraph-axis-label-y {
  color: #868D93;
}

#station6 .dygraph-legend {
  color: #868D93;
}

#station7 .dygraph-axis-label-x {
  color: #868D93;
}

#station7 .dygraph-axis-label-y {
  color: #868D93;
}

#station7 .dygraph-legend {
  color: #868D93;
}

#station8 .dygraph-axis-label-x {
  color: #868D93;
}

#station8 .dygraph-axis-label-y {
  color: #868D93;
}

#station8 .dygraph-legend {
  color: #868D93;
}

#chart2 .dygraph-legend {
  //padding-top: 320px !important;
  //padding-left: 200px;
  //padding-top: 200px;
  //margin-left:300px;
  padding-left: 500px;
  color: white;
  //border: 1px solid black;
  //background-color: #16131333;
  //padding: 4px;
  //border: 1px solid black;
  //border-radius: 10px;
  //width: 100px;
}

#chart2 .dygraph-axis-label-x {
  color: white;
}

#chart2 .dygraph-axis-label-y {
  color: white;
}

#div_g .dygraph-label {
  /* This applies to the title, x-axis label and y-axis label */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
